$poppins: 'Poppins', sans-serif;
$backgroundMain: #fafbff;
$backgroundAside: #ffffff;
$backgroundPage: #ffffff;
$backgroundHoverLi: #5932ea;
$backgroundHoverSvg: #ffffff;
$backgroundSvg: #9197b3;
$colorTextPage: #404b52;
$colorTextTitle: #000000;
$colorTextListUsers: #292d32;
$colorPlaceholder: #b5b7c0;
$colorBorderList: #eee;
$stateActiva: rgba(22, 192, 152, 0.38);
$stateInactiva: #ffc5c5;
