aside {
  background: $backgroundAside;
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 0;
    left: -500px;
    transition: left 500ms ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 36px;
    padding-bottom: 78px;
    padding-left: 28px;
    padding-right: 28px;
    z-index: 2;
    &.is-visibility {
      left: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 36px;
    padding-bottom: 78px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
.header_aside {
  margin-bottom: 60px;
}
.product,
.promote,
.help {
  fill: $backgroundSvg;
}
.customers,
.dashboard,
.income,
.stroke {
  stroke: $backgroundSvg;
}

.nav {
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 34px;
    padding-left: 11px;
    padding-right: 8px;
    color: $backgroundSvg;
    letter-spacing: 0.7px;
    &:hover {
      background: $backgroundHoverLi;
      color: $backgroundHoverSvg;
    }
    &:hover .dashboard,
    &:hover .customers,
    &:hover .income,
    &:hover .stroke {
      stroke: $backgroundHoverSvg;
    }
    &:hover .product,
    &:hover .promote,
    &:hover .help {
      fill: $backgroundHoverSvg;
    }
  }
  button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
  span {
    letter-spacing: 1.6px;
  }
  .sub_logo {
    font-size: 10px;
    color: #838383;
    margin-left: 3px;
    letter-spacing: 0.6px;
  }
}
.manager {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 10px;
}
// .manager_name {
// }
// .manager_major {
// }
