main {
  background: $backgroundMain;
  text-align: left;
  min-height: 100vh;
  @media screen and (min-width: 768px) {
    padding-left: 6.7%;
    padding-right: 1.3%;
    padding-bottom: 275px;
  }
}

.button_menu {
  border: $colorPlaceholder;
  background: $backgroundPage;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.main_tytle {
  margin-top: 43px;
  margin-bottom: 57px;
  padding: 0;
  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
}
.page {
  border-radius: 30px;
  background: $backgroundPage;
  padding-top: 32px;
  padding-bottom: 40px;
}
.search_container {
  margin-bottom: 44px;
  padding-left: 38px;
  padding-right: 53px;
}
.page_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.search_form {
  position: relative;
}
.search_input {
  background: $backgroundMain;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  &::placeholder {
    color: $colorPlaceholder;
    font-size: 12px;
    letter-spacing: -0.12px;
  }
}
.search_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.page_tytle {
  h2 {
    margin-bottom: 9px;
    color: $colorTextTitle;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.7px;
  }
  p {
    color: #16c098;
    letter-spacing: 0.3px;
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 0.35px;
}

.page_caption {
  color: $colorPlaceholder;
  td {
    padding-bottom: 14px;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
.page_container {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: auto;
  margin-bottom: 35px;
  box-sizing: content-box;
  &:before {
    content: '';
    position: absolute;
    top: 210px;
    left: 0;
    height: 1px;
    background: $colorBorderList;
    width: 100%;
    @media screen and (min-width: 768px) {
      top: 35px;
    }
  }
}
.page_tbody {
  border-bottom: 1px solid $colorBorderList;
  td {
    color: $colorTextListUsers;
    padding-top: 23px;
    padding-bottom: 19px;
    @media screen and (max-width: 768px) {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.counter_page {
  color: $colorPlaceholder;
  letter-spacing: 0.47px;
}
.pagination_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-left: 38px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.pagination {
  display: flex;
  gap: 10px;
  padding-left: 38px;
  padding-right: 40px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 4px;
  }
}
.pages {
  cursor: pointer;
  border: 1px solid #eee;
  background: $colorBorderList;
  &:hover {
    background: $backgroundHoverLi;
    color: $backgroundAside;
  }
  &:hover .next,
  &:hover .prev {
    fill: $backgroundAside;
  }
}
.void {
  border: none;
  background: transparent;
  align-items: flex-end;
}
.active {
  background: $backgroundHoverLi;
  color: $backgroundAside;
}
.next,
.prev {
  fill: $colorTextPage;
}
.state {
  p {
    text-align: center;
    border-radius: 5px;
    width: 76px;
    padding: 5px 5px;
  }
  .inactive {
    box-shadow: inset 0 0 1px #df0404;
    background: $stateInactiva;
  }
  .is-active {
    box-shadow: inset 0 0 1px #00b087;
    background: $stateActiva;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    width: 80px;
  }
}
